<article class="post">
    <div class="post-title">
        <h2 class="title"> <%= page.title %> </h2>
    </div>
    <div class="post-meta">
        <span class="post-category">
            <%- list_categories(page.categories, {
                show_count: false,
                depth:1,
            }) %>
        </span>
        <span class="post-tags">
            <%- list_tags(page.tags, {
                show_count: false,
            }) %>
        </span>
        <span class="post-time">
            <%- date(page.date,"YYYY-MM-DD") %>
        </span>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>
</article>

<!-- 由于这里是post的模板,所以page表示的是post的数据-->